# Dependencies
node_modules
.pnpm-store

# Production build
dist
dist-ssr

# Logs & temp files
*.log
pdf_text.txt
pdf_text_dump.txt
__pycache__/
*.pyc

# Editor / OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/

# Uploaded Media Files (Ignore in Git)
public/main/*
!public/main/.gitkeep
public/factory/*
!public/factory/.gitkeep

